<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "CnnString"
			 providerName = "System.Data.SQLite"
			 connectionString = "Data Source=coding-tracker.db"/>
	</connectionStrings>
	<appSettings>
		<add key="StartTime" value="Please insert the start time. (Format: dd-mm-yy hh:mm). Type 0 to go back to menu." />
		<add key="EndTime" value="Please insert the end time. (Format: dd-mm-yy hh:mm). Type 0 to go back to menu" />
	</appSettings>
</configuration>