<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "CnnString"
			 providerName = "System.Data.SQLite"
			 connectionString = "Data Source=coding-tracker.db"/>
	</connectionStrings>
	<appSettings>
		<add key="StartTime" value="Please insert the start time. (Format: dd-mm-yy hh:mm:ss). Type 0 to go back to menu." />
		<add key="EndTime" value="Please insert the end time. (Format: dd-mm-yy hh:mm:ss). Type 0 to go back to menu." />
		<add key="StopWatchStart" value="Type 1 to start the stopwatch. Type 0 to go back to menu."/>
		<add key="StopWatchEnd" value="Type 1 to stop the stopwatch. Type 0 to go back to menu."/>
		<add key="IdDelete" value="Please insert the Id that record do you want delete. Type 0 to go back to menu."/>
		<add key="IdUpdate" value="Please insert the Id that record do you want update. Type 0 to go back to menu."/>
		<add key="ValidationDate" value="Invalid input (Format: dd-mm-yy hh:mm:ss). Type 0 to go back to menu or try again."/>
		<add key="ValidationId" value="Invalid input. Type 0 to go back to menu or try again."/>
	</appSettings>
</configuration>